<h1>Welcome, <%= current_user.email %></h1>

<%= link_to 'View Bookings', bookings_path %> |
<%= link_to 'Edit Profile', edit_user_registration_path %> |
<%= link_to 'Sign out', destroy_user_session_path, method: :delete %>
